#header {
	.logo-1 {
		background-color: white;
		
		.banner {
			height: 200px;
			background-image: url('http://www.happychineserestaurant.com/images/banner1.png');
			background-repeat: no-repeat;
			background-position-x: -200px;
			background-position-y: -60px;
			border-bottom: solid black 1px;
		}
	}

	.list {
		background-color: whitesmoke;
		li {
			background-color: inherit;
			list-style: none;
			font-weight: 700;
			text-decoration: none;
			
			padding: 1em;
			font-size: medium;
			text-align: center;

			a {
				color: #881f0e;
			}
		}
	}
}