section.logo-1.row.extended

	div.small-6.columns

		img(src='http://placehold.it/550x250')

	div.small-6.columns
		img(src='http://placehold.it/550x250')

section.tabs.row
	ul.tabs data-tab
		li.tab-title.columns.active
			a(href="#") Our Story
		li.tab-title.columns.active
			a(href="#") Our Menu
		li.tab-title.columns.active
			a(href="#") Our Locations