#header
	section.logo-1
		div.small-12.columns.banner
		//- div.small-6.columns
		//- 	img(src='http://placehold.it/550x250')

		//- div.small-6.columns
		//- 	img(src='http://placehold.it/550x250')

	section.list
		ul.row
			li.small-3.small-offset-1.columns
				a(href="#") Our Story
			li.small-3.columns
				a(href="#") Our Menu
			li.small-3.end.columns
				a(href="#") Our Locations