doctype html
html(lang='en')
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      | Main Choice Restaurant is a Chinese Restaurant in Surrey, BC. Eat in, take out and delivery service.
    // start facebook meta tags
    meta(property='og:title', content='Main Choice Restaurant is a Chinese Restaurant in Surrey, BC. Eat in, take out and delivery service.')
    meta(property='og:type', content='website')
    meta(property='og:url', content='index.html')
    meta(property='og:description', content='Main Choice Restaurant is a Chinese Restaurant in Surrey, BC. Eat in, take out and delivery service.')
    meta(property='og:image', content='img/hero.jpg')
    // end facebook meta tags
    // Compressed CSS
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css')
    // Compressed JavaScript
    script(src='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js')
  body
    include Partials/header.html
    
    h1 Hello, world!

